# The CUDA wheels come from https://download.pytorch.org/whl/cu124.
torch==2.6.0+cu124
torchvision==0.21.0+cu124
torchaudio==2.6.0+cu124
numpy==1.26.4
pandas==2.2.1
scipy==1.13.1
scikit-learn
matplotlib
librosa
soundfile
funasr==1.3.22
descript-audio-codec==1.0.0
descript-audiotools
argbind
easydict
einops
docstring-parser
flatten-dict
pyloudnorm
julius
torch-stoi
ffmpy
markdown2
importlib-resources
tensorboard==2.14.1
git+https://github.com/huggingface/transformers.git
huggingface_hub
praatio
tabulate
pytest
pesq
pystoi
